{% extends 'layout.site' %}

{% set page_title = 'Home' %}
{% set page_class = 'index' %}

{% block content %}<app />{% endblock %}

{% block footer %}
  <script>
    var __USER__ = {{ user | json | safe }}
  </script>
{% endblock %}
