{% extends 'layout.site' %}

{% set page_title = 'Home' %}

{% block content %}<game />{% endblock %}

{% block footer %}
  <script>
    var __USER__ = {{ user | json | safe }}
  </script>
{% endblock %}
