<!DOCTYPE html>
<html lang="en" class="{{ page_class }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ mix('/assets/css/bulma.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ mix('/assets/css/font-awesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ mix('/assets/css/main.css') }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0072d0" />
    <meta name="apple-mobile-web-app-title" content="ITSA Quiz" />
    <meta name="application-name" content="ITSA Quiz" />
    <meta name="msapplication-TileColor" content="#9f00a7" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="theme-color" content="#222222" />

    <title>{{ page_title }} - ITSA Quiz</title>
  </head>
  <body>
    <div id="app">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    <script>
      var APP_ID = '{{ config('service.facebook.app_id') }}';
    </script>

    <script src="{{ mix('/assets/js/manifest.js') }}"></script>
    <script src="{{ mix('/assets/js/vendor.js') }}"></script>
    <script src="{{ mix('/assets/js/app.js') }}"></script>

    <script>
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
