{% extends '../layout/admin_logged_in' %}

{% set page_title = 'Home' %}
{% set active_menu = 'home' %}

{% set error = old('error') %}

{% block subcontent %}
  <section class="hero is-light has-contents-below">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <h1 class="title">Admin</h1>
        </div>

        <div class="level-right">
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <game-switch />
  </div>
{% endblock %}
