html.index {
  overflow: hidden !important;
}

.header {
  position: relative;

  &.is-fh {
    .hero {
      height: 100vh;

      .hero-body {
        display: flex;
        align-items: center;
      }
    }
  }

  .hero {
    position: relative;

    height: 40vh;
    transition: all 0.5s ease;

    .hero-body {
      padding-top: 0;
    }

    .hero-footer {
      padding: 1rem;
    }

    &.is-transparent {
      &, .title, .subtitle {
        color: #fff;
      }
    }
  }

  .navbar {
    &.is-transparent {
      background: transparent;

      .navbar-item:hover,
      .navbar-item.is-active,
      .navbar-link:hover,
      .navbar-link.is-active {
        background: transparent;
      }
    }

    .navbar-brand {
      img {
        max-height: 36px;
      }
    }

    .navbar-item {
      color: #fff;

      .icon .fa {
        font-size: 1.5rem;
      }
    }

    .navbar-menu {
      background: transparent;
      box-shadow: none;
    }
  }

  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end,
  .navbar-item {
    align-items: stretch;
    display: flex;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-item {
    align-items: center;
  }

  .title,
  .subtitle {
    font-weight: 100;
  }
}

.binary-pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: url(/assets/img/binary_pattern.png);
  background-position: 0 0;
  opacity: 0.1;

  animation: animate-binary 10s linear infinite;
}

.media.is-vcentered {
  align-items: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: all .5s ease;
}

.slide-enter, .slide-leave-to {
  transform: translate(0, 100%);
  opacity: 0;
}

@keyframes animate-binary {
  from {
    background-position: 0 128px;
  }

  to {
    background-position: 0 0;
  }
}
