{% extends '../../../layout/admin_logged_in' %}

{% set page_title = 'Delete Choice' %}
{% set active_menu = 'questions' %}

{% set formUrl = url('admin.questions.choices.delete', { id: question.id, choice_id: model.id }) %}

{% block subcontent %}
  <section class="hero is-danger has-contents-below">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="level">
          <div class="level-left">
            <h1 class="title">Delete Choice</h1>
          </div>

          <div class="level-right">

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <article class="message is-danger">
          <div class="message-header">
            <p>Delete Question</p>
          </div>

          <div class="message-body">
            <form class="form" action="{{ formUrl }}" method="post">
              {{ csrfField }}

              <div class="has-contents-below">
                <p>Are you sure you want to delete this choice?</p>
                <p><strong>{{ model.text }}</strong></p>
              </div>

              <div class="is-clearfix">
                <div class="field is-grouped is-pulled-right">
                  <p class="control">
                    <a href="{{ url('admin.questions') }}" class="button is-light">
                      <span>Cancel</span>
                    </a>
                  </p>

                  <p class="control">
                    <button class="button is-danger">
                      <span class="icon is-small">
                        <i class="fa fa-times"></i>
                      </span>

                      <span>Delete</span>
                    </button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}
