{% extends '../../../layout/admin_logged_in' %}

{% set page_title = 'Add Choice' %}
{% set active_menu = 'questions' %}

{% set formUrl = url('admin.questions.choices.add', { id: question.id }) %}

{% if model.id %}
  {% set page_title = 'Edit Choice' %}
  {% set formUrl = url('admin.questions.choices.edit', { id: question.id, choice_id: model.id }) %}
{% endif %}

{% block subcontent %}
  <section class="hero is-light has-contents-below">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          {% if model.id %}
            <h1 class="title">Edit Choice</h1>
          {% else %}
            <h1 class="title">Add Choice</h1>
          {% endif %}
        </div>

        <div class="level-right"></div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="box">
          {% if old('errors') %}
            {% for error in old('errors') %}
              <div class="notification is-danger">
                <small>{{ error.message | capitalize }}</small>
              </div>
            {% endfor %}
          {% endif %}

          <form class="form" action="{{ formUrl }}" method="post">
            {{ csrfField }}

            <div class="field">
              <label class="label">Text</label>
              <div class="control">
                <textarea class="textarea" name="text">{{ old('text', model.text) }}</textarea>
              </div>
            </div>

            <div class="field">
              <label class="label">Is answer</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="is_answer">
                    {% if old('is_answer', model.is_answer) == '1' %}
                      <option value="1" selected>Yes</option>
                      <option value="0">No</option>
                    {% else %}
                      <option value="1">Yes</option>
                      <option value="0" selected>No</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <p class="control is-clearfix">
                <button class="button is-primary is-pulled-right">
                  <span class="icon is-small">
                    <i class="fa fa-save"></i>
                  </span>

                  <span>Save</span>
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
