{% extends '../../layout/admin_logged_in' %}

{% set page_title = 'Accounts' %}
{% set active_menu = 'accounts' %}

{% block subcontent %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <h1 class="title">Accounts</h1>
        </div>

        <div class="level-right">
          <a href="{{ url('admin.accounts.add') }}" class="button is-primary">
            <span class="icon is-small">
              <i class="fa fa-plus"></i>
            </span>

            <span>Add Account</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th class="is-fit">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for account in result.toJSON() %}
      <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.username }}</td>
        <td>
          <div class="field is-grouped">
            <p class="control">
              <a href="{{ url('admin.accounts.edit', { id: account.id }) }}" class="button is-primary is-small is-inverted">
                <span class="icon is-small">
                  <i class="fa fa-pencil"></i>
                </span>
              </a>
            </p>

            <p class="control">
              <a href="{{ url('admin.accounts.delete', { id: account.id }) }}" class="button is-danger is-small is-inverted">
                <span class="icon is-small">
                  <i class="fa fa-times"></i>
                </span>
              </a>
            </p>
          </div>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">No results found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
