{% extends '../../layout/admin_logged_in' %}

{% set page_title = 'Questions' %}
{% set active_menu = 'questions' %}

{% block subcontent %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <h1 class="title">Questions</h1>
        </div>

        <div class="level-right">
          <a href="{{ url('admin.questions.add') }}" class="button is-primary">
            <span class="icon is-small">
              <i class="fa fa-plus"></i>
            </span>

            <span>Add Question</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th class="is-fit">Difficulty</th>
        <th>Text</th>
        <th class="is-fit">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for question in result.toJSON() %}
        <tr>
          <td class="has-text-centered">{{ question.difficulty }}</td>
          <td>{{ question.text }}</td>
          <td>
            <div class="field is-grouped">
              <p class="control">
                <a href="{{ url('admin.questions.edit', { id: question.id }) }}" class="button is-primary is-small is-inverted">
                  <span class="icon is-small">
                    <i class="fa fa-pencil"></i>
                  </span>
                </a>
              </p>

              <p class="control">
                <a href="{{ url('admin.questions.delete', { id: question.id }) }}" class="button is-danger is-small is-inverted">
                  <span class="icon is-small">
                    <i class="fa fa-times"></i>
                  </span>
                </a>
              </p>
            </div>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3">No results found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
